* {
  margin: 0;
  padding: 0;
  /* font-size: 15px; */
  font-size: 1.95vh;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: hsl(233, 47%, 7%);
}

.generalStatsCard {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  width: 70vw;
  min-width: 960px;
  height: auto;
  background-color: hsl(244, 38%, 16%);
  border-radius: 0.5rem;
}

.generalStatsCard h2 {
  grid-area: 1 / 1 / 2 / 2;
  margin: 5rem 7rem 0 5rem;
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.generalStatsCard h2 span {
  font-size: 2.5rem;
  color: hsl(277, 64%, 61%);
}

.generalStatsCard .mainParagraph {
  grid-area: 2 / 1 / 3 / 2;
  margin: 0 7rem 0 5rem;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  color: hsla(0, 0%, 100%, 0.75);
}

.generalStatsCard .statsBox {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  margin: 1rem 8rem 3rem 5rem;
  padding: 0;
}

.generalStatsCard .statsBox .headerStat {
  font-size: 1rem;
  color: hsla(0, 0%, 100%, 0.6);
}

.headerStat p:first-child {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%)
}

.generalStatsCard .desktopImg {
  grid-area: 1 / 2 / 4 / 3 ;
  width: 100%;
  border-radius: 0 0.5rem 0.5rem 0;
  filter: brightness(0.8);
}

.generalStatsCard .mobileImg {
  display: none;
  grid-area: 1 / 1 / 2 / 2 ;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  filter: brightness(0.8);
}

#colorOnImage {
  grid-area: 1 / 2 / 4 / 3 ;
  width: 100%;
  height: auto;
  z-index: 10;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: hsl(277, 80%, 40%);
  opacity: 45%;
}



@media (max-width: 700px) {
  * {
    font-size: 1.7vh;
  }

  .generalStatsCard {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    row-gap: 1rem;
    min-width: 300px;
    height: auto;
    max-height: 100%;
    text-align: center;
  }

  .generalStatsCard .desktopImg {
    display: none;
  }

  .generalStatsCard .mobileImg {
    display: block;
    grid-area: 1 / 1 / 2 / 2 ;
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    filter: brightness(0.8);
  }

  #colorOnImage {
    grid-area: 1 / 1 / 2 / 2 ;
    width: 100%;
    height: auto;
    z-index: 10;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: hsl(277, 80%, 40%);
    opacity: 45%;
  }

  .generalStatsCard h2 {
    grid-area: 2 / 1 / 3 / 2;
    margin: 1rem 1.5rem 0 1.5rem;
    font-size: 2.5rem;
    color: hsl(0, 0%, 100%);
  }

  .generalStatsCard h2 span {
    font-size: 2.5rem;
    color: hsl(277, 64%, 61%);
  }
  
  .generalStatsCard .mainParagraph {
    grid-area: 3 / 1 / 4 / 2;
    margin: 0 2rem;
  }
  
  .generalStatsCard .statsBox {
    grid-area: 4 / 1 / 5 / 2;
    flex-direction: column;
    row-gap: 1.5rem;
    margin: 1rem 0 1.5rem 0;
    /* margin-bottom: 1rem; */
  }

  .headerStat p:first-child {
    margin-bottom: 0.3rem;
  }
  
  
}